.form {
z-index: 100;
position:fixed;
margin-left: 40px;
position: absolute;
top:200px;
color:white;
background-color: pink;
filter: opacity(70%);
font-size: 15px;
// background-image: url("BldcNGIsT8y9ihlmzCW7rw_thumb_19.jpg");
// border:double;
}