.header {
  position:fixed;
  width: 100vw;
  height: 150px;
  // background-color: rgba( 204, 255, 204, 0.55 );
  // background-image: url("BldcNGIsT8y9ihlmzCW7rw_thumb_19.jpg");
  // background-size: cover;
  // filter:opacity(70%);
  &__contents {
    margin: 20px;
    text-align: center;
    height: 150px;
    width: 100vw;
    // font-size:50px;
    // line-height: 50px;
    a {
      line-height: 12px;
      font-size :12px;
      color: red;
    }
    b.name {
      font-size:50px;
      background-color: blue;
      color:white;
    }
    b.title{
      font-size:50px;
      color: blue;
    }
  }
}

.index {
  background-image: url("BldcNGIsT8y9ihlmzCW7rw_thumb_19.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  &__form {
    padding-top:200px;
    position: relative;
    left:500px;
  }
}